<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main class="centered">
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2><%= p.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%=p.productId._id %>" name="productId">
                                <input name="_csrf" type="hidden" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <input name="_csrf" type="hidden" value="<%= csrfToken %>">
                        <button class="btn" type="submit">Order Now!</button>
                    </form>
                </div>
                
            <% } else { %>
                <h1>Your cart is currently empty!</h1>
            <% } %>
        </main>

        <%- include('../includes/end.ejs') %>